# Archivos e IDEs
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db

# Logs y Archivos Temporales
*.log
*.tmp
*.bak
state/
*.ok

# Archivos de Entorno y Configuración Local
# ¡IMPORTANTE! Las configuraciones locales (IPs) nunca deben subirse al repo.
cluster.env
inventory.csv
.env
*.local

# Credenciales y Certificados (Seguridad)
*.pem
*.crt
*.key
*.p12
*.pfx
kubeconfig
.kube/
